body{
    background-size: cover;
    background-position: center;
}

h1{
    color: white;
}

a{
    background-color: white;
    border-radius: 20px;
    font-size: 20px !important;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 50px;
}